@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'RocGrotesk';
     font-style: normal;
     font-weight: 700;
     src: url('./../fonts/RocGrotesk/KosticRocGroteskBold.otf') format("open/otf"), /* Super Modern Browsers */
}


@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'RocGrotesk';
     font-style: normal;
     font-weight: 800;
     src: url('./../fonts/RocGrotesk/KosticRocGroteskExtraBold.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-family: 'RocGrotesk';
     font-style: normal;
     font-weight: 200;
     src: url('../fonts/RocGrotesk/KosticRocGroteskExtraLight.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'RocGrotesk';
     font-style: normal;
     font-weight: 300;
     src: url('../fonts/RocGrotesk/KosticRocGroteskLight.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'RocGrotesk';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/RocGrotesk/KosticRocGroteskMedium.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'RocGrotesk';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/RocGrotesk/KosticRocGroteskRegular.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'RocGrotesk';
     font-style: normal;
     font-weight: 100;
     src: url('../fonts/RocGrotesk/KosticRocGroteskMedium.otf') format('opentype'), /* Super Modern Browsers */
}

/* =================================================================*/
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 900;
     src: url('../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayBlack.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 700;
     src: url('../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayBold.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 800;/*no tenemos extra bold*/
     src: url('../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayBold.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 200;
     src: url('../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayLight.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 300;
     src: url('../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayLight.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayMedium.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayRoman.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 100;
     src: url('../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayThin.ttf') format('ttf'), /* Super Modern Browsers */
}

/*
Font para 600 no tenemos, deberia ser Semi Bold, pero tenemos bold, medium, black
*/
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 600;
     src: url('../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayBold.ttf') format('ttf'), /* Super Modern Browsers */
}
