/* roboto-regular - latin_latin-ext */
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
   }
   /* roboto-italic - latin_latin-ext */
   @font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roboto';
     font-style: italic;
     font-weight: 400;
     src: url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
     src: url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
          url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/Roboto\ font/roboto-v30-latin_latin-ext-italic.svg#Roboto') format('svg'); /* Legacy iOS */
   }

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roc Grotesk';
     font-style: bold;
     font-weight: 700;
     src: 
          local('Roc Grotesk'),
          local('Roc-Grotesk'),
          local('RocGrotesk'),
          url('../fonts3/RocGrotesk/KosticRocGroteskBold.otf') format("opentype"), /* Super Modern Browsers */
}


@font-face {
     font-family: 'Roc Grotesk';
     font-style: 'extra-bold';
     font-weight: 800;
     src: url('../fonts/RocGrotesk/Kostic\ -\ Roc\ Grotesk\ ExtraBold.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-family: 'Roc Grotesk';
     font-style: 'extra-light';
     font-weight: 200;
     src: url('../fonts/RocGrotesk/Kostic\ -\ Roc\ Grotesk\ ExtraLight.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roc Grotesk';
     font-style: 'light';
     font-weight: 300;
     src: url('../fonts/RocGrotesk/Kostic\ -\ Roc\ Grotesk\ Light.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'RocGrotesk';
     font-style: medium;
     font-weight: 500;
     src: url('../fonts/RocGrotesk/Kostic\ -\ Roc\ Grotesk\ Medium.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roc Grotesk';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/RocGrotesk/Kostic\ -\ Roc\ Grotesk\ Regular.otf') format('opentype'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Roc Grotesk';
     font-style: thin;
     font-weight: 100;
     src: url('../fonts/RocGrotesk/Kostic\ -\ Roc\ Grotesk\ Medium.otf') format('opentype'), /* Super Modern Browsers */
}

/* =================================================================*/
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: black;
     font-weight: 900;
     src: url('../fonts/Neue\ Haas\ Grotesk\ Display\ Pro/NeueHaasDisplayBlack.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: bold;
     font-weight: 700;
     src: url('../fonts/Neue\ Haas\ Grotesk\ Display\ Pro/NeueHaasDisplayBold.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: 'extra-bold';
     font-weight: 800;/*no tenemos extra bold*/
     src: url('../fonts/Neue\ Haas\ Grotesk\ Display\ Pro/NeueHaasDisplayBold.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: 'extra-light';
     font-weight: 200;
     src: url('../fonts/Neue\ Haas\ Grotesk\ Display\ Pro/NeueHaasDisplayLight.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: 'light';
     font-weight: 300;
     src: url('../fonts/Neue\ Haas\ Grotesk\ Display\ Pro/NeueHaasDisplayLight.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: medium;
     font-weight: 500;
     src: url('../fonts/Neue\ Haas\ Grotesk\ Display\ Pro/NeueHaasDisplayMedium.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/Neue\ Haas\ Grotesk\ Display\ Pro/NeueHaasDisplayRoman.ttf') format('ttf'), /* Super Modern Browsers */
}

@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: thin;
     font-weight: 100;
     src: url('../fonts/Neue\ Haas\ Grotesk\ Display\ Pro/NeueHaasDisplayThin.ttf') format('ttf'), /* Super Modern Browsers */
}

/*
Font para 600 no tenemos, deberia ser Semi Bold, pero tenemos bold, medium, black
*/
@font-face {
     font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
     font-family: 'Neue Haas Grotesk Display Pro';
     font-style: 'normal';
     font-weight: 600;
     src: url('../fonts/Neue\ Haas\ Grotesk\ Display\ Pro/NeueHaasDisplayBold.ttf') format('ttf'), /* Super Modern Browsers */
}
